"Pro Tip: to best use vim please remap your CAPS_LOCK key to Escape

" Automatic reloading of .vimrc
 autocmd! bufwritepost .vimrc source %

" home and end, page up and page down mappings 
 noremap H <home>
 vnoremap H <home>
 noremap L <end>
 vnoremap L <end>
 noremap K <pageup>
 vnoremap K <pageup>
 noremap J <pagedown>
 vnoremap J <pagedown>

" Change between files more quickly when editing multiple files
" use :files to see all open files
 nnoremap b :buffers<CR>
 nnoremap ` :buffers<CR>:buffer<SPACE>

" Jump Between Tags (forwards and back respectively)
 nnoremap <C-u> <C-]> 
 nnoremap <C-y> <C-t>

" tBetter copy & paste
 set clipboard=unnamed

" Rebind <Leader> key
" I like to have it here becuase it is easier to reach than the default and
" it is next to ``m`` and ``n`` which I use for navigating between tabs.
 let mapleader = ","

" Bind nohl
" Removes highlight of your last search
" ``<C>`` stands for ``CTRL`` and therefore ``<C-n>`` stands for ``CTRL+n``
 noremap <leader>n :nohl<CR>

" Quicksave command
 nnoremap s :update<CR>
 nnoremap w :update<CR>

" Quick quit command
 nnoremap q :quit<CR>

" bind Ctrl+<movement> keys to move around the windows, instead of using Ctrl+w + <movement>
" Every unnecessary keystroke that can be saved is good for your health :)
 map <c-j> <c-w>j
 map <c-k> <c-w>k
 map <c-l> <c-w>l
 map <c-h> <c-w>h

" map sort function to a key
 vnoremap <Leader>s :sort<CR>

" easier moving of code blocks
" Try to go into visual mode (v), then select several lines of code here and
" then press ``>`` several times.
 vnoremap < <gv  " better indentation
 vnoremap > >gv  " better indentation

" Show whitespace
" MUST be inserted BEFORE the colorscheme command
"" autocmd ColorScheme * highlight ExtraWhitespace ctermbg=red guibg=red
"" au InsertLeave * match ExtraWhitespace /\s\+$/

" Showing line numbers and length
"" set number  " show line numbers
 set tw=79   " width of document (used by gd)
 set nowrap  " don't automatically wrap on load
 set fo-=t   " don't automatically wrap text when typing
 set colorcolumn=80
 highlight ColorColumn ctermbg=333
 hi CSVColumnEven term=bold ctermbg=4 guibg=DarkBlue                             
 hi CSVColumnOdd  term=bold ctermbg=5 guibg=DarkMagenta

" Make search case insensitive
 set hlsearch
 set incsearch
 set ignorecase
 set smartcase

" Disable stupid backup and swap files - they trigger too many events
" for file system watchers
 set nobackup
 set nowritebackup
 set noswapfile

filetype plugin on "might change to just 'filetype on'

"Route the semi-colon as a colon to type commands faster
nnoremap ; :

" Real programmers don't use TABs but spaces
set ls=2 
set ts=4
set tabstop=4 " size of a hard tabstop
set expandtab " always uses spaces instead of tab characters
set softtabstop=4 " Sets the number of columns for a TAB
set shiftwidth=4 " for block comments
set nocompatible
set backspace=2
set ignorecase

"Status line - show the percentage through a file 
set statusline +=\ %P 

"Turn on syntax highlighting
syntax on

" ============================================================================
" General IDE Setup
" ============================================================================
"Folding
"zM fold all
"zR unfold all
set foldmethod=indent
set nofoldenable
nnoremap f zm
nnoremap F zr

"Tags 
" ctags -R src/  -- sets up a tags file which allows definition jumping
" with Ctrl-] and Ctrl-T to jump back. ( or g] )
"semicolon means it starts in the cur dir and searches up directories until it
"hits a tags file
set tags=tags;

" Jump Between Tags - forward, back, and cycle (respectively)
 nnoremap <C-u> <C-]> 
 nnoremap <C-y> <C-t>
 nnoremap <C-i> :tn<CR>

" Commenting blocks of code.
autocmd FileType c,cpp,java,scala let b:comment_leader = '// '
autocmd FileType sh,ruby,python   let b:comment_leader = '# '
autocmd FileType conf,fstab       let b:comment_leader = '# '
autocmd FileType text             let b:comment_leader = '# '
autocmd FileType tex              let b:comment_leader = '% '
autocmd FileType mail             let b:comment_leader = '> '
autocmd FileType vim              let b:comment_leader = '" '
noremap <silent> <leader>c :<C-B>silent <C-E>s/^/<C-R>=escape(b:comment_leader,'\/')<CR>/<CR>:nohlsearch<CR>
noremap <silent> <leader>C :<C-B>silent <C-E>s/^\V<C-R>=escape(b:comment_leader,'\/')<CR>//e<CR>:nohlsearch<CR>
